::selection {
    background: rgba(239,18,55,0.25);
}
@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient {
    background: linear-gradient(-45deg, #ef1237, #9333ea, #3b82f6, #f43f5e);
    background-size: 400% 400%;
    animation: gradient-shift 15s ease infinite;
}